{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}

<!--new-->
<form action="register" method="post">
  {% csrf_token %}

<div class="container">
  <div class="main-body">
      <div class="row justify-content-between mt-4">
          
          <div class="col-lg-8">
              <div class="card">
                  <div class="card-body">

                      

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Userame</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="username">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">First Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="first_name">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Last Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="last_name">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="email">
                          </div>
                      </div>

                      

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Passward</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="password">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Confirm Passward</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control"  name="confirm_password">
                          </div>
                      </div>


                      

                      <div class="row">
                          <div class="col-sm-3"></div>
                          <div class="col-sm-9 text-secondary">
                              <button type="submit" class="btn btn-primary mb-4">REGISTER</button>
                          </div>
                      </div>

                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>

</form>


<div>
    {% for message in messages %}

    <h3>{{message}}</h3>

    {% endfor %}
</div>

{% endblock %}