{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <!--cards for recipes-->
  <br/>

  <section class="articles">
    {% for recipe in recipes %}
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{{ recipe.img_src }}" alt="" />
        </figure>
        <div class="article-body">
          <h2>{{recipe.recipe_name}}</h2>
          <p>{{ recipe.cuisine_path}}</p>
          
          <div class="text-warning mb-1 me-2">
            <span class="ms-1" style="color: black;">
                Rating:
            </span>
            <i class="fa fa-beat fa-star{% if recipe.rating < 0.5 %}-o{% elif recipe.rating >= 0.5 and recipe.rating < 1 %}-half {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-beat fa-star{% if recipe.rating < 1.5 %}-o{% elif recipe.rating >= 1.5 and recipe.rating < 2 %}-half {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-beat fa-star{% if recipe.rating < 2.5 %}-o{% elif recipe.rating >= 2.5 and recipe.rating < 3 %}-half {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-beat fa-star{% if recipe.rating < 3.5 %}-o{% elif recipe.rating >= 3.5 and recipe.rating < 4 %}-half {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-beat fa-star{% if recipe.rating < 4.5 %}-o{% elif recipe.rating >= 4.5 and recipe.rating < 5 %}-half {% endif %}" aria-hidden="true"></i>
            <span class="ms-1">
              {{recipe.rating}}
          </span>
          </div>
          <a href="{% url 'recipe_detail' recipe.id %}" class="read-more">
            Read more <span class="sr-only">about {{recipe.recipe_name}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    {% endfor %}
  </section>


  <!--pagination-->
  <nav aria-label="Page navigation example" style="text-align: center; padding-inline: 30px;">
    {% if recipes.has_other_pages %}
    <ul class="pagination">

      {% if recipes.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{recipes.previous_page_number}}">Previous</a></li>
      {% endif %}

      {% for i in recipes.paginator.page_range %}

      {% if recipes.number == i %}
      <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}

      {% endfor %}

      {% if recipes.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{recipes.next_page_number}}">Next</a></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>

{% endblock %}